.Use {
  display: flex;
  align-items: center;
  margin: 5% 0;
}
.Index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  min-width: 70px;
  background-image: linear-gradient(to right, #1f4037, #99f2c8);
  margin-right: 10px;
  border-radius: 0 2rem 2rem 2rem;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Bebas Neue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.Use p {
  text-align: left;
  font-family: "Montserrat", sans-serif;
}
