body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.bhead {
  display: flex;
  justify-content: center;
  font-weight: normal;
  margin: 1em;
  font-size: 1.5em;
  letter-spacing: 3px;
}

/*A9E1C1     7FD2A2     54C383*/
.all {
  position: relative;
  margin: 1% 0;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  padding: 0 10%;
  /* display: none; */
}
.btgLeft,
.btgRight {
  text-align: center;
}
.rect {
  font-size: 15px;
  font-weight: bold;
  color: #404040;
  display: inline-flex;
  min-height: 30px;
  width: 30vw;
  padding: 8px 0;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 0 15px;
  margin: 30px 0;
  background-color: #29b464;
  flex-direction: column;
  cursor: pointer;
}

.one,
.four {
  background-color: rgb(41, 180, 100, 0.333);
}
.two,
.five {
  background-color: rgb(41, 180, 100, 0.666);
}

/* .usepic {
  display: flex;
  align-content: center;
  background-color: #000000;
  width: 500px;
  height: 310px;
  border-radius: 10px;
  position: relative;
  margin: 50px;
  bottom: 70px;
} */
.bUse {
  /* width: 100vw; */
  padding: 5% 0;
  background-color: #f7f7f7;
  margin: 2% 0;
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  /* flex-wrap: wrap; */
  /* flex-direction: row; */
}
.col1 {
  text-align: right;
  max-width: 50%;
  padding: 0;
}
.urect {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  font-size: 15px;
  height: 60px;
  width: 80%;
  background: rgb(41, 180, 100, 0.499);
  border-radius: 5px;
  padding: 3%;
  text-align: left;
  /* position: relative; */
}

.col2 {
  /* border: solid black; */
  margin-right: 40px;
  width: 30%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  background-color: white;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
}

.usepic {
  background-image: url("https://images.unsplash.com/photo-1414872785488-7620d2ae7566?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: 1s;
  position: absolute;
}
.zoom {
  transform: scale(1.1);
  transition: 1s;
}
/* }
.bUse > *:nth-child(1) {
  flex: 1 1 45%;
}

.bUse > *:nth-child(2) {
  flex: 1 1 50%;
} */

@media (max-width: 800px) {
  .bhead {
    font-size: 1em;
  }
  .all {
    flex-direction: column;
    padding: 0 5%;
  }

  .btgLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btgRight {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .one {
    background: rgb(41, 180, 100, 0.166);
  }
  .two {
    background: rgb(41, 180, 100, 0.333);
  }
  .three {
    background: rgb(41, 180, 100, 0.499);
  }
  .four {
    background: rgb(41, 180, 100, 0.666);
  }
  .five {
    background: rgb(41, 180, 100, 0.833);
  }
  .six {
    background: rgb(41, 180, 100);
  }
  .rect {
    width: 100%;
    margin: 10px 0;
    font-weight: normal;
  }

  /* ////////////////////////////////////// */

  .bUse {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }
  .col1 {
    /* border: solid black; */
    max-width: 100%;
  }
  .urect {
    font-size: 12px;
    height: fit-content;
    padding: 10%;
  }
  .col2 {
    /* border: solid red; */
    margin: 0;
    width: 80%;
    height: 30vh;
  }
}
