.TripleGB_footer {
  display: flex;
  background-color: rgb(12, 12, 12);
  color: #fff;
  padding: 30px;
  justify-content: space-between;
}
.TripleBG_footer_row1 {
  width: 40%;
  justify-content: space-between;
  display: flex;
}
.TripleGB_footer_Brand {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 10px;
}
.TripleGB_footer_links a {
  margin-right: 10px;
  color: #fff;
  font-size: 18px;
}
.TripleGB_footer_contacts {
  padding-left: 20px;
  font-size: 15px;
  font-weight: 400;
}
.TripleGB_footer_cp {
  padding-left: 30px;
  background-color: rgb(12, 12, 12);
  color: #fff;
  font-size: 12px;
  text-align: left;
  padding-top: 70px;
  padding-bottom: 5px;
}
.TripleGB_footer_reviewForm {
  display: flex;
  flex-direction: column;
}
.TripleGB_footer_reviewForm textarea {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-bottom: solid rgb(58, 58, 58) 1px;
  width: 250px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  height: fit-content;
  background-color: #fff;
}

.TripleGB_footer_reviewForm textarea::placeholder {
  color: rgb(126, 126, 126);
  font-family: "Montserrat", sans-serif;
}
.TripleGB_footer_reviewForm button {
  margin: 1.5% 0;
  width: fit-content;
  padding: 10px 20px;
  color: #fff;
  background-color: #29b464;
  border: none;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
@media (max-width: 700px) {
  .TripleBG_footer_row1 {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .TripleGB_footer {
    display: block;
  }
}
@media (max-width: 455px) {
  .TripleGB_footer {
    padding: 10px;
  }
  .TripleBG_footer_row1 {
    display: block;
  }
  .TripleGB_footer_contacts {
    padding: 0;
    margin: 15px 0;
  }
  .TripleGB_footer_reviewForm textarea {
    width: 100%;
  }
}
