html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.midGrey {
  color: #7a7a7a;
}
.darkGrey {
  color: #404040;
}
.tgbContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  min-height: fit-content;
}
.tgbHeading {
  /* border: solid black; */
  font-weight: normal;
  margin: 0.5em;
  font-size: 1.5em;
  letter-spacing: 3px;
}
.tbgSubContainer {
  position: relative;
  width: 100%;
  min-height: 100%;
  /* border: solid black; */
  padding: 5% 20px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}
.imageContainer {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 25vw;
  max-height: 400px;
  height: fit-content;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.651);
  font-size: 20px;
}
.imageContainer img {
  max-width: 100%;
  border-radius: 5px;
  user-select: none;
}
.rightArrow {
  z-index: 9;
  color: white;
  position: absolute;
  top: 50%;
  right: 0%;
  cursor: pointer;
}
.leftArrow {
  left: 0%;
  z-index: 9;
  cursor: pointer;
  top: 50%;
  position: absolute;
  color: white;
}
.slide {
  opacity: 0;
  transform: scale(1.1);
  transition: 1s ease-in-out;
}
.active {
  opacity: 1;
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
.productInfo {
  height: fit-content;
  background-color: #f7f7f7;
  max-width: 40vw;
  padding: 0 2em;
}
.tgbMainHeading {
  color: #0e7d3f;
  margin-bottom: 0.2em;
}

.tbgSubHeading {
  margin-top: 0;
  font-weight: normal;
}
.ratingsLabel {
  margin-bottom: 0;
}
.tgbStars {
  margin-top: 0.5em;
  margin-bottom: 1em;
  color: #d2dc25;
}
.star {
  margin-right: 5px;
}
.productInfo b {
  margin: 10px 0;
}
.productInfo p {
  font-size: 0.8em;
  line-height: 1.8em;
  margin-bottom: 2em;
}
.placeOrder {
  text-align: center;
}
.tgbBtn {
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 8px 10%;
  margin-right: 10px;
  border-radius: 5px;
  background: none;
  transition: 0.2s;
}
.tgbBtn:hover {
  transform: scale(0.95);
  cursor: pointer;
}
.buyNow {
  color: white;
  background-color: #29b464;
}
.disabled {
  background-color: #70eca4;
  cursor: none;
}
.disabled:hover {
  transform: scale(1);
  cursor: auto;
}
.review {
  color: #0e7d3f;
  border: solid #29b464 1px;
}
.tgbHeadingPhone {
  display: none;
}
.FYI {
  text-align: center;
  font-size: 10px;
  opacity: 1;
}
.FYI a {
  text-decoration: underline;
  cursor: pointer;
}
.hide {
  opacity: 0;
}
@media (max-width: 1000px) {
  .productInfo {
    max-width: 60vw;
  }
}
@media (max-width: 750px) {
  .tgbHeading {
    font-size: 1em;
  }
  .tgbHeadingPhone {
    display: block;
    width: 90%;
  }
  .tbgSubContainer {
    flex-direction: column;
    align-items: center;
  }
  .tgbHeadingDesktop {
    display: none;
  }
  .productInfo {
    padding-top: 20px;
    max-width: 100vw;
    margin: 0;
  }
  .imageContainer {
    width: 90vw;
  }
  .tgbStars {
    display: inline-block;
  }
  .tgbBtn {
    display: block;
    margin: 10px auto;
  }
}
